body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  
    scrollbar-width: none;

}
  

.LandingPage {
    width: 100vw;
    height: 400vh;
    background-color: #71cbff;
    position:relative;
    text-align: center;
    overflow:hidden;
    z-index: 1;

}

.Jets{
    height: 200vh;
    width: fit-content;
    margin-top: 200vh;

    z-index: 2;
    
}

@keyframes flyBy {
    to {margin-top: 200%;}
  }


.Name{
    
    color: #023047;
    font-size: 10vw;
    font-weight: 600;
    margin-top: 40vh;
    z-index: 2;
    opacity: 100%;
    left: 50%;
    top: 10vh;
    transform: translate(-50%, -50%);
    position:fixed;
    text-align: center;
    animation: nameAnimation linear;
    animation-duration: 3s;
    animation-timeline:scroll();
 
}


@keyframes nameAnimation {
    to {margin: 0%;}
    
}

.Cloud1{
    display:block;
    margin-top: 40vh;
    height: 40vh;
    z-index: 1;
    opacity: 100%;
    left: 40%;
    top: 0;
    transform: translate(-50%, -50%);
    position:fixed;
    text-align: center;
    animation: cloud1Animation linear;
    animation-duration: 3s;
    animation-timeline:scroll();
 
}

@keyframes cloud1Animation {
    to {margin-top: 0%; margin-left: -60vw;}
}
.Cloud2{
    display:block;
    position: relative;
    margin-top: 40vh;
    height: 40vh;
    z-index: 1;
    opacity: 100%;
    left: 60%;
    top: 3vh;
    transform: translate(-50%, -50%);
    position:fixed;
    text-align: center;
    animation: cloud2Animation linear;
    animation-duration: 3s;
    animation-timeline:scroll();
 
}
@keyframes cloud2Animation {
    to {margin-top: 0%; margin-left: 100vw;}
}
.Cloud3{
    display:block;
    position: relative;
    margin-top: 40vh;
    height: 40vh;
    z-index: 1;
    opacity: 100%;
    left: 50%;
    top: 20vh;
    transform: translate(-50%, -50%);
    position:fixed;
    text-align: center;
    animation: cloud3Animation linear;
    animation-duration: 3s;
    animation-timeline:scroll();
 
}
@keyframes cloud3Animation {
    to {margin-top: 20%; margin-left: 80vw;}
}
.Cloud4{
    display:block;
    position: relative;
    margin-top: 40vh;
    height: 45vh;
    z-index: 1;
    opacity: 100%;
    left: 35%;
    top: 20vh;
    transform: translate(-50%, -50%);
    position:fixed;
    text-align: center;
    animation: cloud4Animation linear;
    animation-duration: 3s;
    animation-timeline:scroll();
 
}
@keyframes cloud4Animation {
    to {margin-top: 20%; margin-left: -80vw;}
}

.Cloud5{
    display:block;
    position: relative;
    margin-top: 40vh;
    height: 40vh;
    z-index: 1;
    opacity: 100%;
    left: 50%;
    top: 35vh;
    transform: translate(-50%, -50%);
    position:fixed;
    text-align: center;
    animation: cloud5Animation linear;
    animation-duration: 3s;
    animation-timeline:scroll();
 
}
@keyframes cloud5Animation {
    to {margin-top: 40%; margin-left: -60vw;}
}


.Cloud6{
    display:block;
    position: relative;
    margin-top: 40vh;
    height: 40vh;
    z-index: 1;
    opacity: 100%;
    left: 55%;
    top: 25vh;
    transform: translate(-50%, -50%);
    position:fixed;
    text-align: center;
    animation: cloud6Animation linear;
    animation-duration: 3s;
    animation-timeline:scroll();
 
}
@keyframes cloud6Animation {
    to {margin-top: 40%; margin-left: 60vw;}
}


.NavBar {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    background-color: #2274A5;
    position: fixed;
    z-index: 4;
    
}

.NavPages{
    display: table-cell;
    font: "Tahoma";
    font-size: 25px;
    height: 100%;
    color: white;
    margin: auto;
    vertical-align: middle;
    
    
    font-weight: 500;
    background-color: #2274A5;
    padding-inline:30px;
    
    border: none;
    cursor: pointer;
    text-decoration: none;
    
    
}

.activeNavPages{

    background-color: #023047;
    text-decoration: none;
    
    
}


.AboutPage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    z-index: 3;
    position: relative;
    
    
    width: 100%;
    min-height: 100vh;
    background-color: #f3f3f3;
    
    padding-top: max(70px, 10%);
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    margin: auto;

}



.AboutProfile{
    
    border-radius: 30%;
    max-width: min(400px,70%);
    height:fit-content;
    flex-shrink:20;

    padding: 0%;
    border: solid black;
    
 
}

.PageInfo{
    
    padding-top: 0px;
    padding-left: 40px;
    flex-grow: 1;
    flex-basis: 450px;
    width: auto;
    height: auto;
    font-size:40px;
    background-color: transparent;
    
    
}

.PageTitle{
    font: "Arial";
    font-size: 50px;
    color: #2274A5;

}
.PageText{
    font: "Arial";
    font-size: 30px;
    color: #4a4a4a;
}

.ProjectsPage{
    width: 100%;
    height: 600px;
    background-color: #ffffff;
    position: relative;
    z-index: 3;
    
}

.Footer{
    width: 100%;
    height: 200px;
    padding: 40px;
    background-color: #023047;
    text-align: left;
    position: relative;
    z-index: 3;

}

.Icon{
    height: 40%;
    width: fit-content;
    padding: 10px;
    opacity: 60%;
}

.Icon:hover{
    opacity: 100%;
}