@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-animation-duration: 20s;
}



.LandingPage {
  width: 100vw;
  height: 80vh;
  background-color:  #ffffff;
  position: relative;
  text-align: left;
  overflow: hidden;
  z-index: 1;
  scroll-timeline: 10s;
}

.InnerPage{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position:relative;

  padding-bottom: 2%;
  width:100%;
  height: 80vh;
  background: -webkit-linear-gradient(#6f9fbe, #cfcfcf);
  overflow: hidden;
  animation: OnScroll linear;
  animation-duration: 3s;
  animation-timeline: scroll();
}

.Portrait{

  overflow: hidden;
  max-height:50%;
  margin-inline: 2%;
  width: fit-content;
  right: 0%;
  background:  -webkit-linear-gradient(#1652753d, #002f49af);
  bottom:0;
  border: 0px solid #000000;
  border-radius:30%;
  z-index: 2;

  -webkit-filter: drop-shadow(0px 0px 10vh  #000000f6);
  filter: drop-shadow(0px 0px 8vh #000000f6);

}


.Name {
  background: -webkit-linear-gradient(#003049, #165275);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 8vw;
  font-weight: 650;
  z-index: 2;
  opacity: 100%;
  width:100%;
  height: min-content;
  top: 4vh;
  position: fixed;
  text-align: center;
  overflow: hidden;
  animation: nameAnimation linear;
  animation-duration: 3s;
  animation-timeline: scroll();
  white-space: nowrap;
  -webkit-filter: drop-shadow(0px 0px 2vh  #00000041);
  filter: drop-shadow(0px 0px 2vh #00000041);
}

@keyframes nameAnimation {
  to {
    opacity: -50%;
    top: 20%;
    text-align: center;
    font-size: 12vw;
    
  }
}

.Socials {
  height: 10vh;
  width: 50%;
  top: 50%;
  left: 2%;

  position:fixed;
  z-index: 3;
  opacity: 60%;
  vertical-align: right;
  justify-content: right;
}

.IconLink {
  height: fit-content;
  width: 20%;
  display: inline;
  padding-right: 5%;
  padding-left: 5%;
  
  opacity: 60%;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(177deg) brightness(101%) contrast(102%);
}

.IconLink:hover {
  opacity: 100%;
}

.ResumeLink {
  height: 10vh;
  width: 50%;
  top: 50%;
  right:10%;
  overflow: hidden;

  position:fixed;
  z-index: 3;
  vertical-align: center;
  justify-content: right;
  text-align: right;

  font: "Tahoma";
 
  height: 20%;
  background-color: transparent;
  ;
}


.ResumeLinkText{

  font-weight: 500;
  font-size: 4vw;
  opacity: 60%;
  color:white;
  cursor: pointer;
  text-decoration: none
}

.ResumeLinkText:hover {
  opacity: 100%;
}

@media  screen and (max-width:1000px) {
  .Socials {

    height: 7vh;
    width: 100%;
    top: 15%;
    left: 0%;
    position:fixed;
    z-index: 3;
    opacity: 60%;
    vertical-align: center;
    justify-content: center;
    text-align: center;    
  }
  .IconLink {
    height: fit-content;
    width: 20%;

    padding-right: 5%;
    padding-left: 5%;
    
  }

  .ResumeLink {
    height: 20vh;
    width: 100%;
    top: 25%;
    right:0%;
    text-align: center;
    overflow: hidden;
  }

  .ResumeLinkText{

    font-weight: 500;
    font-size: 5vh;
    opacity: 60%;
    color:white;
    cursor: pointer;
    text-decoration: none
  }

  @keyframes nameAnimation {
    to {
      opacity: -50%;
      top: 20%;
      text-align: center;
      font-size: 12vw;
      
    }
  }
}

.Arrow {
  display: block;
  position: relative;
  width: fit-content;
  margin-top: 14vh;
  height: 11vh;
  z-index: 4;
  opacity: 100%;
  left: 50%;
  top: 80vh;
  transform: translate(-50%, -50%);
  position: fixed;
  text-align: center;
  animation: bounce 1500ms infinite alternate;
}

@keyframes bounce {
  to {
    margin-top: 12vh;
    height: 10vh;
  }
}

.Explore {
  display: block;
  position: relative;
  z-index: 4;
  font-weight: 500;
  font-size: 2vh;
  left: 50%;
  top: 85vh;
  transform: translate(-50%, -50%);
  position: fixed;
  text-align: center;
  cursor: pointer;
}

.ExploreBar{
  width: 100vw;
  height: 25vh;
  background-color:  #f3f3f3;
  position: relative;
  text-align: left;
  overflow: hidden;
  z-index: 1;
}

.Site{
  overflow: hidden;
}


.NavBar{
  display:inline;
  padding-inline: 5%;
  width: 100%;
  height: 5vh;
  text-align: right;
  background-color: #e4e4e4;
  opacity: 90%;
  position:fixed;
  top:0%;
  z-index: 6;
  display: inline;
  vertical-align: middle;


}

.NavPages{
  height: 100%;
  vertical-align: middle;
  font-size: 2.5vh;
  font-weight: 450;
  padding-inline: 1%;
  font-family: "Tahoma";
  color:#165275;

}

.AboutPage {
  display: grid;
  grid-template-rows: auto;

  z-index: 1;

  width: 100%;
  min-height: 110vh;

  width: 100%;
  min-height: 110vh;

  background-color: #f3f3f3;

  position: relative;

  padding-top: max(70px, 5%);
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;

  text-align: center;
  
}

.AboutMe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0px;
  padding: auto;
  text-align: center;
  
}



.PageInfo {
  flex-grow: inherit;
  padding-top: 0px;
  padding-left: 40px;
  flex-grow: 1;
  flex-basis: 50vw;
  width: 70%;
  height: auto;
  font-size: 40px;
  background-color: transparent;
}

.PageTitle {
  position: relative;
  font: "Arial";
  font-size: min(100px,6vw);
  color: #2274a5;
  animation: FadeIn cubic-bezier(.72,.12,.88,.58);
  animation-duration: 2s;
  animation-timeline: view();
}

.PageHeader{
  position: relative;
  font: "Arial";
  font-size: min(60px, 4vw);
  color: #2274a5;
  animation: FadeIn cubic-bezier(.72,.12,.88,.58);
  animation-duration: 2s;
  animation-timeline: view();
}

.PageText {
  font: "Arial";
  width: min(100%, 1400px);
  font-size: 0.7em;
  margin: auto;
  color: #4a4a4a;
  animation: FadeIn cubic-bezier(.72,.12,.88,.58);
  animation-duration: 2s;
  animation-timeline: view()
}

.WorkExperiences{
  padding:0%;
  margin: 0;
  display:flex;
  flex-wrap:wrap;
  gap:5%;
  
  flex-direction: row;
  
  justify-content: center;

  width:100%;
  height:max-content;


}

.WorkDisplay {
  height: max(70%, fit-content);
  margin-bottom: 5%;
  position: relative;
  width: 20%;
  padding: 1%;
  box-shadow: 0px 5px 50px 2px rgb(168, 168, 168);

  animation: FadeIn cubic-bezier(.72,.12,0,.9);
  animation-duration: 2s;
  animation-timeline: view();
  border-radius: 0px;

  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-animation-duration: 20s;
}

.WorkDisplay::-webkit-scrollbar {
  display: none;
}


.JobSkills{
  padding-top: 10px;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  width:100%;
  height:fit-content;
  gap:10px;
}

.Skill{

  color:#165275;
  font-size: "15px";
  font-weight: 500;
  width:fit-content;
  height: fit-content;
  text-align: center;
  border-radius: 50px;
  padding: 8px;
  border: 2px solid #165275cb;

  background-color: #dadada;
}





.WorkImage {
  float: left;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  height: fit-content;
  text-align: left;
  border-radius: 0;
  border: solid #aaaaaa2d;
}

.WorkInfo {

  position: relative;
  height: auto;
  text-align: left;
  flex-grow: 1;
  max-width: 1000px;
  
}

.AwardList{
  width:100%;
  height:max-content;
  display: inline;
  overflow: visible;
  animation: FadeIn cubic-bezier(.72,.12,0,.9);
  animation-duration: 2s;
  animation-timeline: view();
  margin:0;
  padding:0;

}
.AwardTitle {
  position: relative;
  font: "Arial";
  font-size: min(60px, 4vw);
  color: #2274a5;
  animation: FadeIn cubic-bezier(.72,.12,.88,.58);
  animation-duration: 2s;
  animation-timeline: view();
}

.AwardInfo{
  padding:20px;
  text-align: center;
}

.ProjectsPage {
  z-index: 4;
  display: grid;
  grid-template-rows: auto;
  gap: 1%;

  max-width: 100%;
  min-height: 110vh;

  position: relative;
  overflow: hidden;

  padding-top:max(70px, 5%);
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: max(2%, 50px);

  text-align: center;
  background-color: #ffffff;

}

.ProjectImage {
  align-content: center;
  height: fit-content;
  width: 30vw;
  height: min-content;
  margin: 0 0 7vh 0;

  border-radius: 10px 10px 10px 10px;
}

.canvas {
  align-content: center;
  aspect-ratio: 3/3;
  width: max(20vw, 300px);
  max-width: 700px;
  margin: 4vh auto 4vh auto;
}

.ProjectDisplay {
  
  display: block;
  justify-content: left;
  align-items: left;

  height: 80vh;

  position: relative;
  width: 100%;
  background-color: #023047;
  text-align: left;
  padding: 2%;
  border-radius: 10px;

  -ms-overflow-style: hidden;
  scrollbar-width: none;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  overflow-y: scroll;
}

.ProjectDisplay::-webkit-scrollbar {
  display: none;
}

.ProjectInfo {
  flex-grow: inherit;
  padding-top: 0px;
  padding-left: 2vw;
  padding-right: 2vw;
  flex-grow: 1;
  width: 100%;
  height: auto;
  font-size: 40px;
  background-color: transparent;
}

.InfoGrid {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}


.carousel-wrapper {
  padding: 50px;
  position: relative; /* Makes sure the carousel container is the reference for absolute positioning */
  overflow: visible; /* Hide any content that overflows (for proper carousel behavior) */
}

.carousel-container {
  
  background-color: #f3f3f3;
  box-shadow: 0px 5px 50px 2px rgb(168, 168, 168);
  
  flex-grow: 1;
  text-align: left;
  margin: auto;
  color: rgb(0, 0, 0);

  overflow: hidden;
  width: 50%;
  max-width: 80vw;
  height: max-content;
  position: relative;
  
}

.carousel-slider {
  overflow: hidden;
  display: flex; /* Use flexbox to display slides inline */
  flex-wrap: nowrap; /* Prevent slides from wrapping to the next line */
  transition: transform 0.5s ease; /* Optional: Smooth transition for sliding */
}

.carousel-slide {
  overflow: hidden;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.carousel-button img {
  width: 40px; /* Adjust size of the arrow image */
  height: auto; /* Maintain aspect ratio of the image */
}

.carousel-wrapper img {
  display: block;
}

.carousel-button-left {
  top: 50vh;
  left: -8vw;
  transform: rotate(90deg);
}

.carousel-button-right {
  transform: rotate(-90deg);
  top: 50vh;
  right: -8vw;
}
.carousel-button img {
  width: 40px;
  height: auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}


.prc-dotGroup {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.carousel__dot {
  height: 2vh;
  width: 2vh;
  margin: 0.25vw;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
}
.carousel__dot--selected {
  background-color:#2274a5;
  border: 0px;
}

.LearnMore:hover {
  text-decoration: none;
}
.Footer {
  width: 100%;
  height: 200px;
  padding: 40px;
  background-color: #023047;
  text-align: left;
  position: relative;
  z-index: 5;
  
}

.Icon {
  height: 40%;
  width: fit-content;
  display: inline;
  padding: 10px;
  opacity: 60%;
}

.Icon:hover {
  opacity: 100%;
}

.ResumeButton{
  font: "Tahoma";
  font-size: 130%;
  height: 24%;
  width:max-content;
  color: #023047;
  vertical-align: middle;
  opacity:60%;
  padding-left: 2px;
  padding-right: 10px;
  padding-bottom: 5px;
  font-weight: 700;
  background-color: #ffffff;
  
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  
  
}

.ResumeButton:hover{
  opacity: 90%;
}

@keyframes FadeIn {
  0% {
    opacity: 0%;
  }

  10% {
    opacity: 0%;
  }

  50% {
    opacity: 100%;
  }
}


@media screen and (max-width:1000px) {
  .WorkExperiences{
    display: flex;    
    justify-content: center;
    width: 80%;
    height: fit-content;

  }

  .WorkDisplay {
    height: max(70%, fit-content);;
    margin-bottom: 5%;
    width: 100%;
    min-width: 80%;  
  }

  .carousel-container{
    width: 100%;
    height: max(70vh, fit-content);
  }

}


@media screen and (max-width:1800px) and (min-width:100px) {
  .WorkExperiences{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    
    justify-content: center;
  
    width: 100%;
    height: fit-content;

  }
  
  .WorkDisplay {
    height: max(70%, fit-content);;
    margin-bottom: 5%;
    width: 40%;

  }

  .carousel-container{
    width: 60%;
    height: max(70vh, fit-content);
  }
}


